In [1]:
import pyodbc
import sqlalchemy as sqa
from sqlalchemy import create_engine
import pandas as pd

In [2]:
engine = sqa.create_engine("mysql+mysqlconnector://root:abc123@127.0.0.1:3306/online_order")

In [11]:
df=pd.read_csv('6.June_data.csv')
df

,Unnamed: 0,Order ID,Consumer ID,Product Name,Category,Quantity,Price Each,Profit,Order Date,Purchase Zip Code,Delayed Shipping,Consumer Rating,Return Status
0,0,192998,142007,Product 71,Office Supplies,1,16.19,5.075565,06/27/2020 15:43,54160,0,5,0
1,1,192999,186979,Product 80,Office Supplies,1,13.57,4.254195,06/21/2020 17:34,64623,1,1,0
2,2,193000,118692,Product 83,Toys & Games,1,49.62,17.441430,06/13/2020 11:53,95374,0,3,1
3,3,193001,191455,Product 100,Electronics,1,145.67,58.122330,06/24/2020 07:11,24816,0,4,1
4,4,193002,139529,Product 47,Grocery & Gourmet Food,1,10.56,2.808960,06/28/2020 14:16,95614,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17434,17434,210432,171833,Product 45,Grocery & Gourmet Food,1,8.16,2.170560,06/14/2020 11:29,40258,0,4,1
17435,17435,210433,178336,Product 34,Grocery & Gourmet Food,1,15.87,4.221420,06/06/2020 15:17,13131,0,5,1
17436,17436,210434,108017,Product 1,Home & Garden,1,26.87,9.700070,06/15/2020 14:10,24216,0,3,1
17437,17437,210435,112508,Product 80,Office Supplies,1,13.57,4.254195,06/30/2020 10:03,65784,0,3,0
17438,17438,210436,168117,Product 35,Grocery & Gourmet Food,1,16.46,4.378360,06/12/2020 09:20,68112,0,3,0

In [12]:
df.to_sql(name='master_data',con=engine,if_exists='replace',index=False)